@model Exam.Models.EventsResponse;
@{
    ViewData["Title"] = "Event";
}

<div class="row">
    <div class="col-lg-12">
        <table>
            <tr>
                <td>Id</td>
                <td>Event Name</td>
            </tr>

            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.EventName</td>
                </tr>
            }

            
            </table>
    </div>
</div>
